/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 1 rem = 10px */
html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  width: 100vw;
  /* overflow: hidden; */
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* font-family: 'Bungee Shade', cursive; */
  font-family: 'Press Start 2P', cursive;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* OVERLAY */

.overlay {
  position: fixed;
  display: block;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
  transition: opacity 0.5s ease-out;
  opacity: 0;

  /* cursor: pointer; */
}

.start,
.restart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  background-image: linear-gradient(
      110.3deg,
      rgba(109, 141, 167, 0.5) 4.3%,
      rgba(16, 18, 27, 0.5) 96.7%
    ),
    url('../img/rm251-mind-16.jpg');
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;

  /* background-image: linear-gradient(
    110.3deg,
    rgba(73, 93, 109, 1) 4.3%,
    rgba(49, 55, 82, 1) 96.7%
  ); */
  border-radius: 15px;
}

.overlay h1 {
  text-align: center;
  font-size: 7rem;
  color: white;
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-label {
  font-size: 1.5rem;
}
input {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  text-align: center;
}

input:focus {
  outline: none;
  border: 1px solid rgb(174, 60, 197);
  box-shadow: 0 0 10px #719ece;
}

.tetris-img__overlay {
  width: 20%;
  margin: 2rem auto;
}

.start-button {
  display: inline-block;
  margin: 1rem auto;
  /* background-image: linear-gradient(
      110.3deg,
      rgba(73, 93, 109, 1) 4.3%,
      rgba(49, 55, 82, 1) 96.7%
    ); */
  background-color: rgba(32, 38, 57, 1);

  font-size: 2rem;
  padding: 0.2rem 5rem;
  border-radius: 12px;
  border: none;
  /* border: 1px dashed white; */
  color: white;
  font-family: 'Space Mono', monospace;
  box-shadow: 1px 1px 5px #888888;
}

.start-button:active {
  transform: translate(0, 1px);
}

.game-over-scores {
  font-size: 3rem;
}

body {
  width: 100vw;
  background: url('../img/rm251-mind-16.jpg') left top no-repeat;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.container {
  width: 60%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 5rem;
}

h1 {
  font-size: 8rem;
  text-align: center;
}

.player-name {
  text-align: center;
  font-size: 2rem;
}
.game-container {
  display: flex;
  justify-content: center;
}

.board {
  width: 40%;
  min-width: 300px;
  margin: 0 auto;
}

.game-screen {
  width: 300px;
  height: 600px;
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
}

.scores-container,
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 2rem;
}

.scores-buttons {
  width: 30%;
  margin-right: 2rem;
}
.scores,
.level,
.highest-scoring-player,
.all-stars-highest-points-p,
.players-highest-score-p {
  font-size: 2.5rem;
}

.ahs {
  padding: 0 1rem;
}

.ahs-flex {
  display: flex;
}

h2.phs,
h2.ahs {
  text-align: center;
}

.btn {
  width: 15rem;
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}

.fa-icons::before,
.single-icon::before {
  content: '' !important;
}
.single-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fa-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  margin-left: 1rem;
}

.fa-icon {
  font-size: 3rem;
  padding: 1rem;
}

.single-icon p {
  font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .container h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .container h1 {
    font-size: 4rem;
  }
  .game-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .scores-container {
    flex-direction: row;
    justify-content: center;
  }

  .scores-buttons {
    display: flex;
    flex-direction: column;
  }

  .controls {
    display: flex;
    flex-direction: column;
  }
  .scores,
  .level {
    padding: 0 1rem;
    font-size: 3rem;
  }
  .btn-container {
    flex-direction: row;
    justify-content: center;
  }
  .game-screen {
    margin: 0 auto;
  }
  .board {
    width: 100%;
  }
  .game-screen {
    width: 200px;
    height: 400px;
  }
  .fa-icons {
    flex-direction: row;
    margin: 0.5rem auto;
  }
  .single-icon p {
    display: none;
  }

  .fa-icons {
    width: 100%;
    justify-content: center;
  }

  .start,
  .restart {
    width: 90vw;
    height: 85vh;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    padding: 0.5rem;
  }
  body {
    font-size: 2rem;
  }
  .overlay h1 {
    font-size: 3rem;
  }
}
